Установка Spark сессии и подключение к конфигурационному файлу

In [3]:
from pyspark.sql import SparkSession
import configparser
spark = SparkSession \
    .builder \
    .appName("PySpark_PostgreSQL") \
    .config("spark.jars", "postgresql-42.7.3.jar") \
    .getOrCreate()
config = configparser.ConfigParser()
config.read("config.ini")

['config.ini']

Здесь происходит выгрузка базы данных из демо версии PostgrSQL

In [5]:
actor = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "actor") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
address = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "address") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
category = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "category") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
city = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "city") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
country = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "country") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
film = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "film") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
customer = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "customer") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
film_actor = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "film_actor") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
film_category = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "film_category") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
inventory = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "inventory") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
language = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "language") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
payment = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "payment") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
rental = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "rental") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
staff = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "staff") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()
store = spark.read \
        .format("jdbc") \
        .option("url",config['PostgreSQL']['url']) \
        .option("dbtable", "store") \
        .option("user",config['PostgreSQL']['username'] ) \
        .option("password", config['PostgreSQL']['password']) \
        .option("driver", config['PostgreSQL']['driver']) \
        .load()

№1.Вывести количество фильмов в каждой категории, отсортировать по убыванию.

In [8]:
from pyspark.sql.functions import count
result_1 = category \
.join(film_category, category.category_id == film_category.category_id) \
.join(film, film_category.film_id == film.film_id) \
.groupBy(category.category_id, category.name) \
.agg(count(film.film_id).alias("Count_Of_Movies")) \
.orderBy("Count_Of_Movies", ascending=False)
result_1.show()

+-----------+-----------+---------------+
|category_id|       name|Count_Of_Movies|
+-----------+-----------+---------------+
|          7|      Drama|            152|
|         12|      Music|            152|
|         16|     Travel|            151|
|          3|   Children|            150|
|         10|      Games|            150|
|          9|    Foreign|            150|
|         14|     Sci-Fi|            149|
|          1|     Action|            149|
|          2|  Animation|            148|
|          4|   Classics|            147|
|          8|     Family|            147|
|         13|        New|            147|
|          6|Documentary|            145|
|         15|     Sports|            145|
|          5|     Comedy|            143|
|         11|     Horror|            142|
+-----------+-----------+---------------+

№2.Вывести 10 актеров, чьи фильмы большего всего арендовали, отсортировать по убыванию.

In [10]:
result_2 = actor \
.join(film_actor, actor.actor_id == film_actor.actor_id) \
.join(inventory, film_actor.film_id == inventory.film_id) \
.join(rental , inventory.inventory_id==rental.inventory_id)\
.groupBy(actor.actor_id, actor.first_name,actor.last_name) \
.agg(count(rental.rental_id).alias("Count_Of_Rental")) \
.orderBy("Count_Of_Rental", ascending=False)\
.limit(10)
result_2.show()

+--------+----------+-----------+---------------+
|actor_id|first_name|  last_name|Count_Of_Rental|
+--------+----------+-----------+---------------+
|     107|      GINA|  DEGENERES|            753|
|     181|   MATTHEW|     CARREY|            678|
|     198|      MARY|     KEITEL|            674|
|     144|    ANGELA|WITHERSPOON|            654|
|     102|    WALTER|       TORN|            640|
|      60|     HENRY|      BERRY|            612|
|     150|     JAYNE|      NOLTE|            611|
|      37|       VAL|     BOLGER|            605|
|      23|    SANDRA|     KILMER|            604|
|      90|      SEAN|    GUINESS|            599|
+--------+----------+-----------+---------------+

№3.Вывести категорию фильмов, на которую потратили больше всего денег.

In [18]:
from pyspark.sql.functions import sum
result_3=category \
.join(film_category,category.category_id==film_category.category_id)\
.join(inventory,film_category.film_id==inventory.film_id)\
.join(rental,inventory.inventory_id==rental.inventory_id)\
.join(payment,rental.rental_id==payment.rental_id)\
.groupBy(category.category_id,category.name)\
.agg(sum(payment.amount).alias("SpendedOnFilm"))\
.orderBy("SpendedOnFilm",descending=True)\
.limit(1)
result_3.show()

root
 |-- payment_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- staff_id: integer (nullable = true)
 |-- rental_id: integer (nullable = true)
 |-- amount: decimal(5,2) (nullable = true)
 |-- payment_date: timestamp (nullable = true)

+-----------+------+-------------+
|category_id|  name|SpendedOnFilm|
+-----------+------+-------------+
|          5|Comedy|      9181.93|
+-----------+------+-------------+

№4.Вывести названия фильмов, которых нет в inventory.

In [24]:
# --Вывести названия фильмов, 
# --которых нет в inventory. 
# --Написать запрос без использования оператора IN.
# SELECT f.title
# FROM film f
# EXCEPT
# SELECT f.title
# FROM inventory inv 
# JOIN film f ON inv.film_id=f.film_id
result_4=film.select(film.title)\
.subtract(inventory.join(film,inventory.film_id==film.film_id).select(film.title))
result_4.show()

+--------------------+
|               title|
+--------------------+
|       RAINBOW SHOCK|
|           GUMP DATE|
|         HOCUS FRIDA|
|    TREASURE COMMAND|
| CHINATOWN GLADIATOR|
|        WALLS ARTIST|
|      ARGONAUTS TOWN|
|       PSYCHO SHRUNK|
|   FIREHOUSE VIETNAM|
|DELIVERANCE MULHO...|
|       ROOF CHAMPION|
|        TADPOLE PARK|
|         APOLLO TEEN|
|       HATE HANDICAP|
|       PEARL DESTINY|
|COMMANDMENTS EXPRESS|
|        VOLUME HOUSE|
|     CROWDS TELEMARK|
|   RAIDERS ANTITRUST|
|    KILL BROTHERHOOD|
+--------------------+
only showing top 20 rows

#5.Вывести топ 3 актеров, которые больше всего появлялись в фильмах в категории “Children”. Если у нескольких актеров одинаковое кол-во фильмов, вывести всех..

In [68]:
from pyspark.sql.functions import col, concat_ws, count, dense_rank
from pyspark.sql.window import Window
joined_df = actor.alias('a') \
    .join(film_actor.alias('fa'), col('a.actor_id') == col('fa.actor_id')) \
    .join(film_category.alias('fc'), col('fa.film_id') == col('fc.film_id')) \
    .join(category.alias('ca'), col('fc.category_id') == col('ca.category_id')) \
    .filter(col('ca.name') == 'Children')
count_df = joined_df \
    .withColumn("Person", concat_ws(" ", col("a.first_name"), col("a.last_name"))) \
    .groupBy(col("a.actor_id"), col("Person")) \
    .agg(count(col("fc.film_id")).alias("Counter"))
window_spec = Window.orderBy(col("Counter").desc())
ranked_df = count_df.withColumn("place", dense_rank().over(window_spec))
result_5 = ranked_df.filter(col("place") <= 3).orderBy(col("Counter").desc())
result_5.show()

+--------+----------------+-------+-----+
|actor_id|          Person|Counter|place|
+--------+----------------+-------+-----+
|     105|    SIDNEY CROWE|      9|    1|
|     133|    RICHARD PENN|      9|    1|
|     139|    EWAN GOODING|      9|    1|
|      56|      DAN HARRIS|      8|    2|
|     149|  RUSSELL TEMPLE|      8|    2|
|      66|      MARY TANDY|      8|    2|
|      29|      ALEC WAYNE|      8|    2|
|     145|       KIM ALLEN|      8|    2|
|     181|  MATTHEW CARREY|      8|    2|
|     131|    JANE JACKMAN|      8|    2|
|      87|    SPENCER PECK|      8|    2|
|     142|      JADA RYDER|      8|    2|
|      84|      JAMES PITT|      7|    3|
|     123|  JULIANNE DENCH|      7|    3|
|      34|  AUDREY OLIVIER|      7|    3|
|      96|     GENE WILLIS|      7|    3|
|      94|    KENNETH TORN|      7|    3|
|      95|  DARYL WAHLBERG|      7|    3|
|      85|MINNIE ZELLWEGER|      7|    3|
|      65|   ANGELA HUDSON|      7|    3|
+--------+----------------+-------+-----+
only showing top 20 rows

№6.Вывести города с количеством активных и неактивных клиентов (активный — customer.active = 1). Отсортировать по количеству неактивных клиентов по убыванию.

In [53]:
from pyspark.sql.functions import col, count, when,unix_timestamp
result_6 = city \
    .join(address, city.city_id == address.city_id) \
    .join(customer, address.address_id == customer.address_id, "right")\
    .groupBy(city.city)\
    .agg(count(when(col("active") == 1, 1)).alias("Actives"),count(when(col("active") == 0, 1)).alias("Pasives"))\
    .orderBy(col("Pasives").desc())
result_6.show()

+------------------+-------+-------+
|              city|Actives|Pasives|
+------------------+-------+-------+
|          Uluberia|      0|      1|
|         Najafabad|      0|      1|
|         Pingxiang|      0|      1|
|          Xiangfan|      0|      1|
|        Kumbakonam|      0|      1|
|       Szkesfehrvr|      0|      1|
|  Charlotte Amalie|      0|      1|
|            Kamyin|      0|      1|
|            Daxian|      0|      1|
|     Coatzacoalcos|      0|      1|
|           Wroclaw|      0|      1|
|            Ktahya|      0|      1|
|            Amroha|      0|      1|
|   Southend-on-Sea|      0|      1|
|           Bat Yam|      0|      1|
|          Fengshan|      1|      0|
|A Corua (La Corua)|      1|      0|
|           El Alto|      1|      0|
|              Linz|      1|      0|
|          Myingyan|      1|      0|
+------------------+-------+-------+
only showing top 20 rows

№7.Вывести категорию фильмов, у которой самое большое кол-во часов суммарной аренды в городах (customer.address_id в этом city), и которые начинаются на букву “a”. Тоже самое сделать для городов в которых есть символ “-”.

In [67]:
result_7_a=city \
    .join(address, city.city_id == address.city_id) \
    .join(customer, address.address_id == customer.address_id) \
    .join(rental, customer.customer_id == rental.customer_id) \
    .join(inventory,rental.inventory_id  == inventory.inventory_id) \
    .join(film_category, inventory.film_id == film_category.film_id) \
    .join(category, film_category.category_id == category.category_id) \
    .filter(city.city.startswith('a'))\
    .withColumn("rental_duration", (unix_timestamp(rental.return_date) - unix_timestamp(rental.rental_date))) \
    .groupBy(category.category_id,category.name) \
    .agg(sum("rental_duration").alias("Amount")) \
    .orderBy("Amount") \
    .limit(1)
result_7_a.show()
result_7__=city \
    .join(address, city.city_id == address.city_id) \
    .join(customer, address.address_id == customer.address_id) \
    .join(rental, customer.customer_id == rental.customer_id) \
    .join(inventory,rental.inventory_id  == inventory.inventory_id) \
    .join(film_category, inventory.film_id == film_category.film_id) \
    .join(category, film_category.category_id == category.category_id) \
    .filter(city.city.like('%-%'))\
    .withColumn("rental_duration", (unix_timestamp(rental.return_date) - unix_timestamp(rental.rental_date))) \
    .groupBy(category.category_id,category.name) \
    .agg(sum("rental_duration").alias("Amount")) \
    .orderBy(col("Amount")) \
    .limit(1)
result_7__.show()

+-----------+-----+-------+
|category_id| name| Amount|
+-----------+-----+-------+
|         12|Music|4096800|
+-----------+-----+-------+

+-----------+--------+--------+
|category_id|    name|  Amount|
+-----------+--------+--------+
|          3|Children|34890840|
+-----------+--------+--------+